@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.bmi-title {
    padding: 10px;
}

.bmi-title h3 {
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.bmi {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 85%;
    align-items: center;
    border-radius: 6px;
    padding: 10px 0;
}


.bmi-calculator {

    background: #1697a6;
    padding: 15px 35px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 75%;

    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid blue; */
    width: 90%;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.input-group input {
    width: 97%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
}

.input-group input::placeholder {
    color: #999;
}



.mode-switch label {
    font-size: 0.9rem;
    cursor: pointer;

}



.bmi-calculator button {
    background: #1abc9c;
    background: #ffc24b;
    border: none;
    color: white;
    padding: 6px 55px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bmi-calculator button:hover {
    background: #e29d12;
}

.result {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background: #0e606b;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    width: 92%;
}

.result2 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background: #0e606b;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    width: 92%;
    display: none;
}

.result2.show {
    display: block;
}

/* Responsive =---------------------------------- */

@media (max-width: 1350px) {
    .bmi {
        width: 65%;
    }
}

@media (max-width: 1250px) {
    .bmi {
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .bmi {
        width: 75%;
    }

    .input-group {
        margin-bottom: 10px;
    }

    .input-group label {

        margin-bottom: 4px;

    }

    .bmi-calculator button {

        padding: 6px 55px;

        font-size: 15px;
        width: 150px;

    }

    .result {
        margin-top: 10px;
        font-size: 12px;

        padding: 7px;

    }

    .result2 {
        margin-top: 10px;
        font-size: 12px;

        padding: 7px;

    }

    .bmi-title h3 {
        font-size: 14px;
    }
}

@media (max-width: 930px) {
    .bmi {
        width: 80%;

    }

    .input-group input {
        font-size: 12px;
        width: 100%;
    }

    .bmi-title h3 {
        font-size: 13px;
    }

    .bmi-calculator {
        background: #1697a6;
        border-radius: 16px;
        text-align: center;
    }



    .input-group {
        margin-bottom: 10px;
    }

    .input-group label {

        margin-bottom: 4px;

    }

    .bmi-calculator button {

        padding: 8px 55px;

        font-size: 15px;

    }

    .result {
        margin-top: 10px;
        font-size: 12px;

        padding: 7px;

    }

    .result2 {
        margin-top: 10px;
        font-size: 12px;

        padding: 7px;

    }


}

@media (max-width: 850px) {
    .bmi .bmi-title h3 {
        font-size: 11px;
    }

    .result,
    .result2 {
        font-size: 10px;
    }
}



@media (max-width: 720px) {
    .bmi {
        border: 1px solid #fff;
        width: 420px;
    }

    .bmi .bmi-title h3 {
        font-size: 12px;
    }

    .input-group input {
        font-size: 12px;
        width: 100%;

    }

    .bmi-calculator button {

        padding: 6px 45px;
        font-size: 14px;



    }

    .bmi-calculator button:hover {
        background-color: #ffc24b;
    }


}

@media (max-width: 450px) {
    .bmi {
        width: 320px;
    }

    .bmi .bmi-title h3 {
        font-size: 9px;
    }

    .bmi-calculator label {
        font-size: 12px;
    }

    .bmi-calculator {
        width: 90%;
    }


}